<footer class="footer">
  <div class="container">
    <div class="columns formsling-footer">
      <div class="column is-5 is-marginless has-text-centered-mobile content has-text-grey">
        <p>Copyright © <%= Time.now.year %> FormSling. All rights reserved.</p>
      </div>
      <div class="column is-7">
        <ul class="columns formsling-bottom-links is-mobile is-multiline is-marginless">
          <li class="formsling-bottom-link">
            <%= link_to 'Contact Us', contact_path %>
          </li>
          <li class="formsling-bottom-link">
            <%= link_to('Sign Up', new_user_registration_path) %>
          </li>
          <li class="formsling-bottom-link">
            <% if user_signed_in? %>
            <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'navbar-item') %>
            <% else %>
            <%= link_to('Sign In', new_user_session_path) %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
