<h2 class="title">Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, class: 'label' %>
    <div class="control">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, class: 'input' %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <p class="help is-danger">Currently waiting confirmation for: <%= resource.unconfirmed_email %></p class="help is-danger">
  <% end %>

  <div class="field">
    <%= f.label :password, class: 'label' %>
    <div class="control">
      <%= f.password_field :password, autocomplete: "new-password", class: 'input' %>
    </div>
    <p class="help">(leave blank if you don't want to change it)</p>
    <% if @minimum_password_length %>
      <p class="help"><%= @minimum_password_length %> characters minimum</p>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input' %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: 'input' %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: 'button is-primary' %>
  </div>
<% end %>

<h3 class="title">Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'button is-danger' %></p>

<%= link_to "Back", :back %>
