<h2 class="title">My Account</h2>
<div class="is-divider"></div>

<div class="columns">
  <div class="column">
    <h3 class="title is-size-4">Edit Details</h3>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :first_name, class: 'label' %>
        <div class="control">
          <%= f.text_field :first_name, autocomplete: "first_name", required: true, class: 'input' %>
        </div>
      </div>

      <div class="field">
        <%= f.label :last_name, class: 'label' %>
        <div class="control">
          <%= f.text_field :last_name, autocomplete: "last_name", required: true, class: 'input' %>
        </div>
      </div>

      <div class="field">
        <%= f.label :email, class: 'label' %>
        <div class="control">
          <%= f.email_field :email, autocomplete: "email", required: true, class: 'input' %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p class="help is-danger">Currently waiting confirmation for: <%= resource.unconfirmed_email %></p class="help is-danger">
      <% end %>

      <div class="field">
        <%= f.label :password, class: 'label' %>
        <div class="control">
          <%= f.password_field :password, autocomplete: "new-password", class: 'input' %>
        </div>
        <p class="help">
          <% if @minimum_password_length %>
            <%= @minimum_password_length %> characters minimum.
          <% end %>
          Leave blank if you don't want to change your password.
        </p>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: 'label' %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input' %>
      </div>

      <div class="field">
        <%= f.label :current_password, class: 'label' %>
        <div class="control">
          <%= f.password_field :current_password, autocomplete: "current-password", class: 'input' %>
        </div>
        <p class="help">
          We need your current password to confirm your changes.
        </p>
      </div>

      <div class="actions">
        <%= f.submit "Update", class: 'button is-primary is-outlined' %>
      </div>
    <% end %>
  </div>

  <div class="column is-offset-1">
    <%= render 'subscription', subscription: current_user.subscription %>
    <div class="card">
      <div class="card-header">
        <h3 class="card-header-title">
          Close Account
        </h3>
      </div>
      <div class="card-content">
        <div class="content">
          <p class="help">Closing your account will cancel your subscription and permanently destroy all your data.</p>
          <p class="help">Any remaining credit will be refunded to the payment method you provided.</p>
          <p class="help has-text-danger">This action cannot be reversed.</p>
          <p>
            <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'button is-danger is-outlined is-small' %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to "Back", :back %>
