<% set_meta_tags(
  title: 'Password Reset',
  canonical: new_user_password_url,
  description: "Recover your account password by providing your email address.",
) %>

<h2 class="title">Forgot your password?</h2>

<div class="columns">
  <div class="column is-6">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, class: 'label' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, class: 'input' %>
      </div>

      <div class="actions">
        <%= f.submit "Send me password reset instructions", class: 'button is-primary' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
