<div class="pricing-table has-margin-top-40 has-margin-bottom-40">

  <div class="pricing-plan <%= 'is-active' unless user_signed_in? && current_user.active_subscription? %>">
    <div class="plan-header">Free Plan</div>
    <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>0</span>/month</div>
    <div class="plan-items">
      <div class="plan-item">Create Unlimited Forms</div>
      <div class="plan-item">Receive Unlimited Results</div>
      <div class="plan-item">Spam Protection</div>
      <div class="plan-item">Shareable Forms</div>
      <div class="plan-item">-</div>
      <div class="plan-item">-</div>
      <div class="plan-item">-</div>
    </div>
    <div class="plan-footer">
      <% if user_signed_in? %>
        <% unless current_user.active_subscription? %>
          <button class="button is-fullwidth" disabled>Current Plan</button>
        <% else %>
          <%= link_to 'Choose Plan', confirm_subscriptions_path(:free), class: 'button is-fullwidth' %>
        <% end %>
      <% else %>
        <%= link_to 'Sign Up', new_user_registration_path, class: 'button is-fullwidth' %>
      <% end %>
    </div>
  </div>

  <div class="pricing-plan is-primary <%= 'is-active' if user_signed_in? && current_user.active_subscription? %>">
    <div class="plan-header">Standard Plan</div>
    <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>10</span>/month</div>
    <div class="plan-items">
      <div class="plan-item">Create Unlimited Forms</div>
      <div class="plan-item">Receive Unlimited Results</div>
      <div class="plan-item">Spam Protection</div>
      <div class="plan-item">Shareable Forms</div>
      <div class="plan-item">Embeddable Forms</div>
      <div class="plan-item">Custom Stylesheets</div>
      <div class="plan-item">Analytics Included</div>
    </div>
    <div class="plan-footer">
      <% if user_signed_in? %>
        <% if current_user.active_subscription? %>
          <button class="button is-fullwidth" disabled>Current Plan</button>
        <% else %>
          <%= link_to 'Choose Plan', confirm_subscriptions_path(:standard), class: 'button is-fullwidth' %>
        <% end %>
      <% else %>
        <%= link_to 'Sign Up', new_user_registration_path, class: 'button is-fullwidth' %>
      <% end %>
    </div>
  </div>
</div>

<p class="help has-text-centered">
  Pay a flat monthly fee for using the service. For partial months, the cost is prorated. Cancel
  your subscription at any time.
</p>
