<section id="features" class="section is-medium">

  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">Features</h2>
      <div class="divider is-centered"></div>
    </div>

    <div class="columns is-vcentered has-margin-top-60">
      <div class="column is-4 is-offset-1">
        <h3 class="title is-3 has-margin-bottom-10 is-spaced">
          Build your forms
        </h3>
        <p class="subtitle is-5">
          Drag and drop fields to construct your forms.
        </p>
      </div>
      <div class="column is-5 is-offset-1">
        <%= image_tag asset_pack_path('media/images/editor-screenshot.png', alt: "Form Builder Screenshot") %>
      </div>
    </div>

    <div class="columns is-vcentered has-margin-top-60">
      <div class="column is-4 is-offset-1">
        <h3 class="title is-3 has-margin-bottom-10 is-spaced">
          Configure your fields
        </h3>
        <p class="subtitle is-5">
          Each form field is easily configurable in the editor.
        </p>
      </div>
      <div class="column is-5 is-offset-1">
        <%= image_tag asset_pack_path('media/images/settings-screenshot.png', alt: "Field Settings Screenshot") %>
      </div>
    </div>

    <div class="columns is-vcentered has-margin-top-60">
      <div class="column is-4 is-offset-1">
        <h3 class="title is-3 has-margin-bottom-10 is-spaced">
          Embed your forms
        </h3>
        <p class="subtitle is-5">
          Add your forms to any website with a simple embed code.
        </p>
      </div>
      <div class="column is-5 is-offset-1">
        <%= image_tag asset_pack_path('media/images/embed-screenshot.png', alt: "Form Embed Screenshot") %>
      </div>
    </div>

    <div class="columns is-vcentered has-margin-top-60">
      <div class="column is-4 is-offset-1">
        <h3 class="title is-3 has-margin-bottom-10 is-spaced">
          Share your forms
        </h3>
        <p class="subtitle is-5">
          Share your forms with others with a public share link.
        </p>
      </div>
      <div class="column is-5 is-offset-1">
        <%= image_tag asset_pack_path('media/images/share-screenshot.png', alt: "Form Share Screenshot") %>
      </div>
    </div>

    <div class="columns is-vcentered has-margin-top-60">
      <div class="column is-4 is-offset-1">
        <h3 class="title is-3 has-margin-bottom-10 is-spaced">
          Capture results
        </h3>
        <p class="subtitle is-5">
          Receive a notification each time a form submission arrives.
        </p>
      </div>
      <div class="column is-5 is-offset-1">
        <%= image_tag asset_pack_path('media/images/result-screenshot.png', alt: "Result Screenshot") %>
      </div>
    </div>
  </div>
</section>
