<nav class="navbar has-shadow is-spaced" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to 'FormSling', root_path, class: 'navbar-item' %>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>


    <div class="navbar-menu">
      <div class="navbar-end">
        <% if user_signed_in? %>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              <%= current_user.email %>
            </a>

            <div class="navbar-dropdown">
              <%= link_to 'Forms', app_path, class: 'navbar-item' %>
              <!--
              <hr class="navbar-divider">
              <a class="navbar-item">
                Usage
              </a>
              <a class="navbar-item">
                Subscription
              </a>
              -->
              <%= link_to 'Account', edit_user_registration_path, class: 'navbar-item' %>
              <hr class="navbar-divider">
              <a class="navbar-item">
                Support
              </a>
              <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'navbar-item') %>
            </div>
          </div>
        <% else %>
          <div class="navbar-item">
            <div class="buttons">
              <%= link_to(content_tag(:strong, 'Sign Up'), new_user_registration_path, class: 'button') %>
              <%= link_to('Login', new_user_session_path, class: 'button is-primary') %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>
