<!DOCTYPE html>
<html lang="en">
  <head>
    <%= display_meta_tags site: 'FormSling' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag(asset_pack_path('media/images/favicon.ico')) %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <script src="https://kit.fontawesome.com/ae926a1cf5.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <% if controller_name == 'welcome' %>
      <%= yield %>
    <% else %>
      <nav class="navbar has-shadow is-spaced" role="navigation" aria-label="main navigation">
        <%= render 'layouts/navbar_brand' %>
        <%= render 'layouts/navbar_menu' %>
      </nav>
      <div class="app-container">
        <section class="section">
          <div class="container">
            <%= render 'layouts/notifications' %>
            <%= yield %>
          </div>
        </section>
      </div>
    <% end %>
    <%= render 'layouts/footer' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
