<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FormSling</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'layouts/stripe_assets' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>
  <body>
    <div class="app-container">

      <%= render 'layouts/nav' unless controller_name == 'public_form' %>

      <section class="section">
        <div class="container">
          <%= render 'layouts/notifications' unless controller_name == 'dashboard' %>
          <%= yield %>
        </div>
      </section>

      <footer class="footer">
        <div class="container">
          <div class="content has-text-centered">
            Copyright &copy; 2020 FormSling. All rights reserved.
          </div>
        </div>
      </footer>

    </div>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
