<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FormSling</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag(asset_pack_path('media/images/favicon.ico')) %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'layouts/iframe_resizer_assets' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>
  <body>
    <%= yield %>
    <p class="has-text-centered is-size-7 has-margin-top-20 has-margin-bottom-20">
      <em>Powered by</em>
      <strong><%= link_to 'FormSling.com', root_url, title: 'FormSling.com' %></strong>
    </p>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
